.home-container{
    text-align: center;
}

.home-container .hero-container{
    height: 45em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(107.43% 261.43% at 105.59% 126.46%, var(--primary) 0%, var(--background) 100%);
}

.home-container .hero-content h1{
    font-size: 3rem;
}

.home-container .hero-content .subtitle{
    color: var(--secondary);
}

.home-container .button-talks{
    background-color: var(--primary);
    padding: 1em;
    width: 13em;
    border-radius: .4em;
    color: var(--font);
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
    margin: 2em 0;
}

.home-container .info-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-container .info-content h3{
    display: flex;
    align-items: center;
}

.home-container .title-container{
    margin: 3em 0;
}

.home-container .talks-list{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr;
    align-content: center;
    margin: 0 1em;
}

.home-container .talks-container{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr;
    align-content: center;
    margin-bottom: 6em;
}

.home-container .about-container{
    background: linear-gradient(to right, var(--background), var(--primary));
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container .about-container h1{
    width: 80%;
    font-weight: normal;
}

.home-container .about-container strong{
    color: var(--secondary);
}

.home-container .speakers-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.home-container .made-by-container{
    margin-bottom: 6em;
}

.home-container .made-by-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-container .made-by-list img{
    width: 15em;
}

@media only screen and (min-width: 700px) {
    .hero-content, .talks-container, .made-by-container {
        margin: 0 15em;
    }

    .home-container .hero-container{
        text-align: left;
        justify-content: start;
    }

    .home-container .info-content{
        align-items: flex-start;
    }

    .home-container .title-container{
        text-align: left;
    }

    .home-container .made-by-list{
        flex-direction: row;
    }

    .home-container .speakers-list{
        flex-direction: row;
    }
    
}